{% extends "base.html" %}
{% block title %}Todos Page{% endblock %}

{% block content %}
    {% include 'content.html' %}
    <h1>Todos List</h1>
    <script src="/js/hello.js"></script>

    <ul class="list-group list-group-flush" >
        {% for todo in current_user.todos %}
            <li class="list-group-item">{{ todo }}
            <a href="{{ url_for('todo.details', id=todo.id) }}">Details</a></li>
        {% endfor %}
    </ul>

    <h3>New Todo</h3>
    <form action="{{ url_for('todos.index') }}" method="POST">
        <input type="title" name="title" placeholder="title" required="required"><br>
        <input type="text" name="description" placeholder="description"><br>
        <input type="checkbox" name="done" required="required"><br>
        <input type="submit" value="Create">
    </form>
    
{% endblock %}