{% extends "base.html" %}
{% block title %}User Profile Page{% endblock %}

{% block content %}
    {% include 'content.html' %}
    <h1>User Profile</h1>

    {% if current_user.person %}
        <h3>Details</h3>
        <p><strong>Name:</strong> {{ current_user.person.name }}</p>
        <p><strong>Age:</strong> {{ current_user.person.age }}</p>
        <p><strong>Job:</strong> {{ current_user.person.job }}</p>

        <button class="btn btn-outline-primary" onclick="editPerson">Edit</button>
        <button class="btn btn-danger" onclick="deletePerson('{{ current_user.person.id }}')">Delete</button>
    
    {% else %}
        <h3>Create User Profile</h3>
            <form action="{{ url_for('people.profile') }}" method="POST">
                <input type="text" name="name" placeholder="Name" required="required"><br>
                <input type="number" name="age" placeholder="Age"><br>
                <input type="text" name="job" placeholder="Job"><br>
                <button type="submit" class="btn btn-primary" value="Create User">
            </form>
    {% endif %}

    <script type="text/javascript">
        function editPerson() {
            fetch('{{ url_for("people.edit") }}', {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Failed to edit item')
                }
            }).catch(error => {
                console.error('Error during fetching:', error)
            });
        }
    </script>
    <script type="text/javascript">
        function deletePerson(id) {
            fetch('{{ url_for("people.delete", id=id) }}' + id, {
                method: 'DELETE'
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Failed to delete item with person id:', id)
                }
            }).catch(error => {
                console.error('Error during fetching:', error)
            });
        }
    </script>
{% endblock %}