{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
    {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="{{ url_for('core.index') }}">Home</a>
        <a class="navbar-brand" href="{{ url_for('core.about') }}" >About</a>
        <a class="navbar-brand" href="{{ url_for('users.index')}}">Users</a>
        <a class="navbar-brand" href="{{ url_for('people.index') }}">Peoples</a>
        <a class="navbar-brand" href="{{ url_for('people.profile') }}">User Profile</a>
        <a class="navbar-brand" href="{{ url_for('todos.index') }}">Todos</a>
        <a class="navbar-brand" href="{{ url_for('core.contact') }}" >Contact Admin</a>
        <button class="btn btn-primary" onclick="logout()">Logout</button>
    {% else %}
        <a class="navbar-brand" href="{{ url_for('core.index') }}">Home</a>
        <a class="navbar-brand" href="{{ url_for('core.about') }}" >About</a>
        <a class="navbar-brand" href="{{ url_for('people.index') }}">Peoples</a>
        <a class="navbar-brand" href="{{ url_for('todos.index') }}">Todos</a>
        <a class="navbar-brand" href="{{ url_for('core.contact') }}" >Contact Admin</a>
        <button class="btn btn-primary" onclick="login()">Login</button>
        <button class="btn btn-primary" onclick="signup()">Sign Up</button>
    {% endif %}
</nav>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  function login() {
    fetch('{{ url_for("users.login") }}', {
      method: 'GET'
    }).then(response => {
      if (response.ok) {
        window.location.href = '{{ url_for("users.login") }}';
      } else {
        console.error('Failed to connect to login page')
      }
    }).catch(error => {
      console.error('Error during fetching:', error)
    })
  }
</script>
<script type="text/javascript">
  function signup() {
    fetch('{{ url_for("users.signup") }}', {
      method: 'GET'
    }).then(response => {
      if (response.ok) {
        window.location.href = '{{ url_for("users.signup") }}';
      } else {
        console.error('Failed to connect to sign up page')
      }
    }).catch(error => {
      console.error('Error during fetching:', error)
    })
  }
</script>

<script type="text/javascript">
  function logout() {
    fetch('{{ url_for("users.logout") }}', {
      method: 'GET'
    }).then(response => {
      if (response.ok) {
        window.location.href = '{{ url_for("users.logout") }}';
      } else {
        console.error('Failed to logout')
      }
    }).catch(error => {
      console.error('Error during fetching:', error)
    })
  }
</script>
{% endblock %}