{% block content %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="nav-item nav-link active" href="{{ url_for('core.index') }}">Home</a>
    <a class="nav-item nav-link active" href="{{ url_for('core.about') }}" >About</a>
    {% if current_user.is_authenticated %}
      <a class="nav-item nav-link active" href="{{ url_for('users.index')}}">Users</a>
      <a class="nav-item nav-link active" href="{{ url_for('people.index') }}">People</a>
      <a class="nav-item nav-link active" href="{{ url_for('people.profile') }}">User Profile</a>
      <a class="nav-item nav-link active" href="{{ url_for('todos.index') }}">Todos</a>
      <a class="nav-item nav-link active" href="{{ url_for('core.contact') }}" >Contact Admin</a>
      <button class="btn btn-danger" onclick="logout()">Logout</button>
    {% else %}
      <a class="nav-item nav-link active" href="{{ url_for('core.contact') }}" >Contact Admin</a>
      <button class="nav-item nav-link active" onclick="login()">Login</button>
      <button class="btn btn-primary" onclick="signup()">Sign Up</button>
    {% endif %}
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  function login() {
    fetch('{{ url_for("users.login") }}', {
      method: 'GET'
    }).then(response => {
      if (response.ok) {
        window.location.href = '{{ url_for("users.login") }}';
      } else {
        console.error('Failed to connect to login page')
      }
    }).catch(error => {
      console.error('Error during fetching:', error)
    })
  }
</script>
<script type="text/javascript">
  function signup() {
    fetch('{{ url_for("users.signup") }}', {
      method: 'GET'
    }).then(response => {
      if (response.ok) {
        window.location.href = '{{ url_for("users.signup") }}';
      } else {
        console.error('Failed to connect to sign up page')
      }
    }).catch(error => {
      console.error('Error during fetching:', error)
    })
  }
</script>

<script type="text/javascript">
  function logout() {
    fetch('{{ url_for("users.logout") }}', {
      method: 'GET'
    }).then(response => {
      if (response.ok) {
        window.location.href = '{{ url_for("users.logout") }}';
      } else {
        console.error('Failed to logout')
      }
    }).catch(error => {
      console.error('Error during fetching:', error)
    })
  }
</script>
{% endblock %}